<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h2 th:text="${message}">Header</h2>
	<ul>
		<li><a href="albums/all">allAlbums</a></li>
		<li><a href="albums/artist/id/44">albumsByArtistId</a></li>
		<li><a href="albums/artist/name/eRa">albumsByArtistName</a></li>
		<li><a href="albums/id/221">albumsById</a></li>
		<li><a href="albums/name/3">albumsByName</a></li>
		<li><a href="artists/all">allArtists</a></li>
		<li><a href="artists/id/76">artistsById</a></li>
		<li><a href="artists/name/Anuna">artistsByName</a></li>
		<li><a href="genres/all">allGenres</a></li>
		<li><a href="genres/id/31">genresById</a></li>
		<li><a href="genres/name/Celtic">genresByName</a></li>
		<li><a href="songs/all">allSongs</a></li>
		<li><a href="songs/album/id/1552">songsByAlbumid</a></li>
		<li><a href="songs/album/name/Lisa">songsByAlbumName</a></li>
		<li><a href="songs/artist/id/1503">songsByArtistId</a></li>
		<li><a href="songs/artist/name/Queen">songsByArtistName</a></li>
		<li><a href="songs/genre/id/76">songsByGenreId</a></li>
		<li><a href="songs/genre/name/Rap">songsByGenreName</a></li>
		<li><a href="songs/year/2016">songsByYear</a></li>
	</ul>
</body>
</html>